.auth-form {
  width: 40rem;
  padding: 2rem;

  @include response-xs {
    width: 100%;
  }

  & input {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    font: inherit;
    color: $color-gray-darkest;
    background-color: $color-white;
    width: 100%;

    // fix the ios input shadow
    -webkit-appearance: none;

    &:focus-visible {
      outline: none;
    }
  }

  &__password-field {
    display: flex;
    align-items: center;
    background-color: $color-white;
    // width: 100%;
    border-radius: 10px;

    & svg {
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }

  &__password-input {
    flex: 1;

    // hide the IE and Edge built-in password reveal button
    &::-ms-reveal {
      display: none;
    }
  }

  & input:not(.auth-form__password-input):focus-visible,
  &__password-field:focus-within {
    // border-radius doesn't affect outline on mobile
    // outline: 1px solid $color-primary;

    // glow effect
    // box-shadow: 0 0 8px $color-primary;
    box-shadow: 0 0 6px 2px $color-primary;
  }

  &__label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__btn--submit {
    margin-top: 3rem;
    text-align: center;
  }
}
