.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;

  border-radius: 5rem;
  padding: 0.5rem 1rem;
  background-color: $color-white;

  @include response-sm {
    margin: 0 1rem;
  }

  &:focus-within {
    // glow effect
    box-shadow: 0 0 8px $color-primary;
    outline: 1.5px solid $color-primary;
  }

  & form {
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    background-color: inherit;
    border: none;
    margin: 0 1rem;
    font-family: inherit;
    font-size: inherit;
    width: 100%;

    &::placeholder {
      color: $color-gray-light;
      font-style: italic;
      font-size: 1.5rem;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__icon {
    color: $color-gray-light;
    margin-left: 0.5rem;
  }

  &__dropdown {
    border-left: 1px solid $color-gray-light;
    margin-left: auto;
  }
}
