$color-primary: #caa67c;
$color-primary-highlight: rgba($color-primary, 0.35);
$color-white: #e5e5e5;
$color-gray-light: #aaaaaa;
$color-gray: #313131;
$color-gray-dark: #1a1a1a;
$color-gray-darkest: #100f0f;
$color-red: #da2923;
$color-yellow: #ebd13c;
$color-blue: #3269bb;
